<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>E-VOTE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  </head>

  <body>


<!-- DELETE ABOVE WHEN HANDLEBARS -->

<div class="container">
  <div class="jumbotron">
    <h1><i class="fa fa-search" aria-hidden="true"></i> Find Elections </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>


<div class="container">
  <div class="row">

  	<!-- Search by Location -->
    <div class="col-sm">
    	<form action="/" method="post">
    		<!-- City -->
    		<div class="form-group">
    			<div class="row"><p class="font-weight-bold">Search by Location</p></div>
    			<label for="inputCity">City:</label>
	    		<input type="city" class="form-control" id="city" placeholder="City">
	    	</div>
	      <!-- State -->
	      <div class="form-group">
    			<label for="inputState">State:</label>
	    		<input type="state" class="form-control" id="state" placeholder="State">
	    	</div>
	    	<!-- Date -->
	    	<div class="form-group">
    			<label for="inputDate">Date:</label>
	    		<input type="date" class="form-control" id="date">
	    	</div>
	    	<button type="submit" value ="Submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <!-- Search by Candidate -->
    <div class="col-sm">
	  	<form action="/" method="post">
	  		<!-- First Name -->
    		<div class="form-group">
    			<div class="row"><p class="font-weight-bold">Search by Candidate</p></div>
    			<label for="inputCity">First Name:</label>
	    		<input type="c_firstName" class="form-control" id="c_firstName" placeholder="First Name">
	    	</div>
	      <!-- Last Name -->
	      <div class="form-group">
    			<label for="inputState">Last Name:</label>
	    		<input type="c_lastName" class="form-control" id="cLastName" placeholder="Last Name">
	    	</div>
	    	<!-- Date -->
	    	<div class="form-group">
    			<label for="inputDate">Date:</label>
	    		<input type="date" class="form-control" id="date">
	    	</div>
	    	<button type="submit" value ="Submit" class="btn btn-primary">Submit</button>
	    </form>
  	</div>

  	<!-- Search by Election Type -->
  	<div class="col-sm">
	  	<form action="/" method="post">
	  		<div class="form-group">
    			<div class="row"><p class="font-weight-bold">Search by Election</p></div>
    			<label for="inputLevel">Level:</label>
	    		<input type="level" class="form-control" id="Level" placeholder="Level">
	    	</div>
	      <!-- Branch -->
	      <div class="form-group">
    			<label for="inputBranch">Branch:</label>
	    		<input type="branch" class="form-control" id="branch" placeholder="Branch">
	    	</div>
	    	<!-- Office -->
	    	<div class="form-group">
    			<label for="inputOffice">Office:</label>
	    		<input type="office" class="form-control" id="office" placeholder="Office">
	    	</div>
	    	<!-- District -->
	    	<div class="form-group">
    			<label for="inputDistrict">District:</label>
	    		<input type="district" class="form-control" id="district" placeholder="District">
	    	</div>
	    	<!-- Occurrence -->
	    	<div class="form-group">
    			<label for="inputOccurrence">Occurrence:</label>
	    		<input type="branch" class="form-control" id="occurrence" placeholder="Branch">
	    	</div>
	    	<!-- Date -->
	    	<div class="form-group">
    			<label for="inputDate">Date:</label>
	    		<input type="date" class="form-control" id="date">
	    	</div>
	    	<button type="submit" value ="Submit" class="btn btn-primary">Submit</button>
	    </form>
  	</div>
  </div>
</div>

<!-- DELETE BELOW WHEN HANDLEBARS -->

<!-- SCRIPTS for Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script></body>
</html>