<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>E-VOTE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  </head>

  <body>


<!-- DELETE ABOVE WHEN HANDLEBARS -->

<div class="container">
  <div class="jumbotron">
    <h1><i class="fa fa-road" aria-hidden="true"></i> Lorem Ipsum </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>


<div class="container">
	<form action="/" class="form-group" method="post">
		<table>
			<thread class="table">
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Name</th>
					<th scope="col">Occurrence</th>
					<th scope="col">Results</th>
				</tr>
			</thread>
			<tbody>
				{{#each results}}
				<tr>
					<td>{{date}}</td>
					<td>{{electionName}}</td>
					<td>{{Occurrence}}</td>
					<td>
						<form action="/" method="post">
							<input type="hidden" name="electionID" id="electionID" value="{{electionID}}">
							<button type="submit" formaction="______" value ="Submit" class="btn btn-primary">Submit</button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</form>

  	
</div>

<!-- DELETE BELOW WHEN HANDLEBARS -->

<!-- SCRIPTS for Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script></body>
</html>